
.navbar{

background-color: rgb(73, 148, 73);
display: flex;
width: 100%;
color: #ffffff;
padding: 4px;
text-align: center;
justify-content: space-around;
align-items: center;
position: fixed;

}

h1{
margin-bottom: 30px;
}

h2{
margin-bottom: 25px;
}



/*Parte Sena*/

.container{
    background-color: #499449;
    padding: 10px;
    margin: 15px 0;    
}

.caixa{
    background-color: #1a931a;
    padding: 8px;
    margin: 5px;
}


.block-flow-root{
    display: flow-root;
}

.inline-flow{
    display: inline;
}

.inline-flex{
    display: inline-flex;
}

.inline-grid{
    display: inline-grid;
}

.inline-flow-root{
    display: inline flow-root;
}


