body{
    margin: 0px;
    background-color: #8ecdeb;
}

header{
    padding-top: 100px;
}

.navbar {
    background-color: rgba(20, 96, 184, 0.579);
    display: flex;
    width: 100%;
    color: #ffffff;
    padding: 4px;
    text-align: center;
    justify-content: space-around;
    align-items:center;
    position: fixed; 

}

.central_itens{
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 5px;
}

h2{
    margin-bottom: 25px;
}

.section{
    align-items: center;
}

.container {
    background-color: rgba(20, 96, 184, 0.579);
    padding: 10px;
    margin: 15px;
    position: relative;
    width: 500px;
    align-items: center;
}

.caixa {
    background-color: rgba(20, 96, 184, 0.579);
    padding: 8px;
    margin: 5px;
    width: 60px;
}

.block {
    display: block;
}

.flow{
    display: flow-root;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flow-root {
    display: flow-root;
}




.inline-flex{
display: inline-flex;
}

.grid{
display: grid;
}

.inline-grid{
    display:inline-grid;
}

.flow-root{
    display: inline flow-root;
}







#espaco{
    margin-top: 100px;
}




































































































/*PARTE MATHEUS*/
.display{

    display: table;

}