body{
    margin: 0px;
    background-color: #8ecdeb;
    
}

header{
   padding-top: 60px;


}

.navbar {
    background-color: rgba(20, 96, 184, 0.579);
    display: flex;
    width: 100%;
    color: #ffffff;
    padding: 4px;
    text-align: center;
    justify-content: space-around;
    align-items:center;
    position: fixed; 
    height: 120px;

}

.central_itens{
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

h1 {
    margin-bottom: 5px;
    justify-content: center;
}

h2{
    margin-bottom: 25px;
    color: aliceblue;
}

h4{
    margin-bottom: 5px;
    color: aliceblue;
}

h5{ 
    justify-content: left;
    margin-left: 15px;
}

section{
    align-items: center;
    justify-content: center;
 
}

.container {
    background-color: rgba(20, 96, 184, 0.579);
    padding: 10px;
    margin: 15px;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    border-color: aliceblue;
    border-style:groove;
    border-width: 15px;
}

.caixa {
    background-color: rgba(20, 96, 184, 0.579);
    padding: 8px;
    margin: 5px;
    width: 80px;
    font-size: larger;
}

.block div{
    display: block;
}

.flow div{
    display: flow-root;
}

.inline div{
    display: inline;
}

.flex div{
    display: flex;
}

.grid div{
    display: grid;
}

.flow-root div{
    display: flow-root;
}

.inline-flex div{
display: inline-flex;
}

.grid div{
display: grid;
}

.inline-grid div{
    display:inline-grid;
}

.flow-root div{
    display: inline flow-root;
}

.table div{
    display: table;
}

#espaco {
    margin-top: 100px;
}

.rodape {
    justify-content: space-around;
    align-items: center;
    margin: 18%;
}

.textorodape{
    justify-content: center;
    align-items: center;
    
}

#guerreiro {
    position: static;
}

#doguinho {
    position: absolute;
    justify-content: left;
}

#monkey {
    position: sticky;
    justify-content: left;
    display: flex;

}

#ryu {
    position: relative;
    justify-content: right;
    margin-left: 85%;
    display: flex;
    height: 300px;
}




































































































